/build/
/install/
/logs/
/.cache/
/**/*/.cache/
/**/*/res/

/**/*/icudt67l.dat

*.bundle
CMakeUserPresets.json

.history

########## C++
CMakeEnv.txt

########## Javascript
logs
*.log
pnpm-debug.log*
node_modules
dist
*.local

########## C#
bin
obj
